.main {

    .about {
        background-image: url("/img/title-page-imgs/backgrounds/background-03.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;

        .container__about {

            padding: 0%;
        }
    }
}